{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}

<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">

{% endblock %}

{% if title %}
<title>{{ title }} - GrocerPrep</title>
{% else %}
<title>Welcome to GrocerPrep</title>
{% endif %}


{% block navbar %}
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        {% if current_user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% endif %}
      </ul>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}