{% extends "base.html" %}

{% block styles %}
{{super()}}
 <!-- fullcalendar js library -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.0.1/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.0.1/main.min.js"></script>
<!-- calendar test function -->
<script src="{{url_for('static', filename='js/cal_test.js')}}"></script>
{% endblock %}


{% block app_content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="page-header">
				<h1>
					Meal List
				</h1>
			</div>
			<div class="list-group" id="draggables">
				 
				<div class="list-group-item recipe">
					Recipe 1
				</div>
				<div class="list-group-item recipe">
                    Recipe 2
				</div>
				<div class="list-group-item recipe">
                    Recipe 3
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="page-header">
				<h1>
					Calendar View
				</h1>
			</div>
            
            <div id='calendar'></div>

            <script>addCalendar();</script>

		</div>
	</div>
</div>

{% endblock %}