{% extends "base.html" %}

{% block styles %}
{{super()}}
<!-- fullcalendar js library -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.0.1/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.0.1/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.27.0/moment.min.js"></script>
<!-- calendar test function -->
<script src="{{url_for('static', filename='js/cal_test.js')}}"></script>

{% endblock %}


{% block app_content %}

<div class="container-fluid">
	<div class="row">
		<!-- left column -->
		<div class="col-md-4">
			<div class="row">
				<h1 class="col-md-6">
					Meal List
				</h1>
				<div class="btn-group">
					<a class="btn btn-success" href="{{url_for('create_list')}}" role="button">Create Meal List</a>
					<a class="btn btn-primary" href="{{url_for('edit_list')}}" role="button">Edit Meal List</a>
				</div>

			</div>
			<br>
			<div id="draggables">
				{% for list in meal_lists %}
				<h5>{{ list.list_name }}</h5>

				<div class="list-group">
					<div class="list-group-item recipe">
						test 1
					</div>
				</div>
				<br>
				{% endfor %}
			</div>



			<!--
			<div class="list-group" id="draggables">

				<div class="list-group-item recipe">
					Recipe 1
				</div>
				<div class="list-group-item recipe">
					Recipe 2
				</div>
				<div class="list-group-item recipe">
					Recipe 3
				</div>
			</div>
			-->
		</div>
		<br>
		<br>
		<!-- right column (calendar) -->
		<div class="col-md-8">
			<div class="page-header">
				<h1>
					Calendar View
				</h1>
			</div>

			<div id='calendar'></div>

			<script>addCalendar();</script>

		</div>
	</div>
</div>

{% endblock %}