{% extends "base.html" %}

{% block app_content %}

<div class="container">

    

    <div class="row">
    {% for recipe in recipes %}
        <div class="card recipe" >
            <img class="card-img-top"
                src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/8/4/2/IG0509_panzanella_s4x3.jpg.rend.hgtvcom.826.620.suffix/1529943365287.jpeg"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{recipe.name}}</h5>
                <p class="card-text">Recipe preview</p>
                <a href="{{ url_for('recipes', recipe_id=recipe.id) }}" class="btn btn-primary">View Recipe</a>
            </div>
        </div>
    {% endfor %}
</div>

    <p>
        <a class="btn btn-lg btn-success" href="{{url_for('add_recipe')}}" role="button">Add recipe</a>
    </p>
    

</div>
{% endblock %}