{% extends 'base.html' %}

{%block app_content%}
    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">GrocerPrep</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">Plan your meals the easy way</h1>
        <p class="lead">
            Take control of your meal planning schedule with a slick, easy to use interface on mobile or web.
        </p>
        <p>
            <a class="btn btn-lg btn-success" href="{{url_for('register')}}" role="button">Sign up today</a>
            <a class="btn btn-lg btn-primary" href="{{url_for('login')}}" role="button">Already a member?</a>
        </p>
        
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Weekly Meal Layout</h4>
          <p>See what's on the menu at a quick glance</p>

          <h4>Easy Grocery Store Visits</h4>
          <p>Select which recipes you want to make, and get a list of ingredients automatically</p>

          <h4>Nutritional Info</h4>
          <p>Bulking up or slimming down? Keep track of calories and macros every day!</p>
        </div>

        <div class="col-lg-6">
          <h4>Keep Track of Your Pantry</h4>
          <p>See which ingredients you already have! No more losing track of food in the back of your fridge!</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      

    </div> <!-- /container -->
    
  
{% endblock %}